@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #0a0a0a;
  color: #ededed;
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
